[submodule "Epoch/vendor/spdlog"]
	path = Epoch/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Epoch/vendor/imgui"]
	path = Epoch/vendor/imgui
	url = https://github.com/Holy-YxY/imgui
[submodule "Epoch/vendor/glm"]
	path = Epoch/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Epoch/vendor/GLFW"]
	path = Epoch/vendor/GLFW
	url = https://github.com/Holy-YxY/glfw
[submodule "Epoch/vendor/dirent"]
	path = Epoch/vendor/dirent
	url = https://github.com/tronkko/dirent
